.galleria {
  /*height: 955px;
  width: 400px;*/
  height: 400px;
  width: 700px;
  /*background: #173e77;*/
  margin: 0 auto;
  border-radius: 10px;

}
body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #d5dbea 100%);
}
/** Gmail logo styles **/
#gmail {
	display: block;
	margin: 0 auto;
	width: 60px;
	height: 60px;
  height: auto;
	margin-top: 135px;
	border: white dotted 2px;
	border-collapse: collapse;
  border-radius: 20px;
  padding: 5px;
}
@media only screen and (max-width: 833px) {
    #gmail {
      width: 45px;
      height: 45px;
      margin-top: 133px
    }
}
/** Gallery styles *//
.gallery {
  margin-top: 20px;
  /*display: flex;
  flex-wrap: wrap;*/
  justify-content: center;
  display: inline;
}
.mygallery-item {
	margin:15px 15px 10px 15px;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 5px solid #fff;
}

/** Table styles **/
table {
  
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  border-radius: 20px;
  box-shadow: 0 0 0 10px #6d90ca;
  color: #452F21;
  margin-top: 40px;

}
th {
  padding: 10px 8px;
  background: white;
}
table th:first-child {
  border-top-left-radius: 20px;
}
table th:last-child {
  border-top-right-radius: 20px;
}
td {
  border-top: 10px solid #a0b9e3;
  padding: 8px;
  background: white;
}
table td:first-child {
  border-bottom-left-radius: 20px;
}
table td:last-child {
  border-bottom-right-radius: 20px;
}

/** Header styles **/
.header {
  background-image: url("../img/fon.jpg");
  height: 400px;
  background-position: center center;
  
}
.roasting {
  margin: auto;
  padding: 0px 30px 10px 30px;
  /**background-color: #a9d2f2;**//
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}
.roasting p {
  color: #173e77;
  text-align: center;
  line-height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0.35px 0.35px #173b6f;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: center;
}

/* Roast types */
.green {
  background-color: DarkSeaGreen;
}

.light {

  background-color: #2b5faa;
}

.city {
  background-color: SaddleBrown;
}

.vienna {

  background-color: #2669c8;
}

.italian {

  background-color: #4777b9;
}
.image {

}
/*.gmail {
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUCbYDXzbCSCJnOK8P_PgZuPLK__xUnyZaMMbQccmHZaJqsdVtIg');
	height: 50px;
	width: 50px;
	position: relative;
	background-position: center center;
}*/
/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #4c72ab;
  list-style: none;
  margin: 0px 0px 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #444444;
  line-height: 32px;
  font-family: 'Roboto Condensed', sans-serif;
  opacity: 0.6;
  font-size: 20px;
  font-weight: 100;
}

a {
  /**color: #214E34;**/
  color: #525a68;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
/* Typography */
h1 {
  color: #e3eaf0;
  font-family: 'Impact', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 35%;
  text-shadow: 2px 2px #173b6f;
}

h2 {
  color: #E4BB97;
  color: #173e77;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #e3eaf0;;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 32%;
  text-shadow: 2px 2px #173b6f;

}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
  text-align: center;
  
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}
/** Quotes styles **/
blockquote {
  margin: 0;
  background: white;
  border-top: 5px solid #EAF9F9;
  border-bottom: 5px solid #EAF9F9;
  color: #3A3C55;
  padding: 30px 30px 30px 90px;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
blockquote:before {
  content: "\201C";
  font-family: serif;
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  background: #173e77;;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 1.35;
  text-align: center;
  align-self: center;
  margin-left: 3%;
}
blockquote p {
  margin: 0 0 16px;
  font-size: 22px;
  letter-spacing: .05em;
  line-height: 1.4;
}
blockquote cite {
  font-style: normal;
}
/*FOOTER */
.footer {
  height: 100%;
  background-color: #fff;
}
.footer p {
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 25px;
}
.cortona {
  margin: 0 30%;
}
#about {
  font-family: 'Gloria Hallelujah', cursive;
}
.nav {
  margin: 0 auto;
  position: absolute;


}
.nav p {
  display: inline;
  color: #fff;
  text-shadow: 1px 1px #173b6f;
}
.parent2 {
  top:15px;
  left:15px;
  position:fixed;
  display:block;
  width:100px;
  height:100px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  
}

.test1 {
  width:60%;
  height:60%;
  background:#75a3d7;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:60%;
  height:60%;
  background:#75a3d7;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:60%;
  height:60%;
  background-color:dimGray;
  background: #75a3d7;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .test4 {
  width:60%;
  height:60%;
  background: #75a3d7;
  
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}
.mask2 {
  top:15px;
  left:15px;
  width:100px;
  height:100px;
  background:darkSlateGray;
  background: #1a4683;
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}
.container {
  max-width: 100%;
  /*width: 5%;*/
  margin: 5% auto;
  padding: 0 0;
  position: fixed;

}
.flex-container {
  /*df + tab*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /*position: fixed;*/
}
.nav {
  font-size: 14px; 
  font-weight: 700;
  color: #212121;
  display: none;
  
}
.nav li {
  border: none;
  display: inline;
  margin: 0 20px;

}
.nav a {
  font-size: 18px;
}

/*@media only screen and (max-width: 500px) {
    .nav {
    display: initial;
    }
    .parent2 {
      display: none;
    }
}*/